body {
	margin: 0;
}

nav {
	background-color: #69a41e;
	padding: 0 10px;
}

nav div {
	background-color: #77ba22;
	max-width: 1346px;
	margin: 0 auto;
	padding: 0 10px;

}

#hamburger {
	float: right;
	margin-top: 15px;
}

nav ul {
	display: none;
}

#mobile-banking {
	background-color: #eeeeee;
	padding: 20px;
	font-family: Helvetica, Arial;
}

#mobile-banking h1 {
	font-size: 16px;
}

#mobile-banking a {
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	margin: 10px 0;
}

.login {
	background-color: #528224;
	color: white;
	width: 40%;
	text-align: center;
}

.login + .login {
	float: right;
}

#mobile-banking .contact {
	background-color: white;
	display: block;
	color: #333333;
	border: 1px solid #dddddd;
}

#mobile-banking ul {
	list-style: none;
	padding-left: 0;
	font-size: 12px;
}

#hero {
	background-color: #333333;
	padding-top: 200px;
	background-image: url(../img/pie.jpeg);
	background-repeat: no-repeat;
	background-size: 100%;
	max-width: 1346px;
	margin: 0 auto;
}

#hero > p {
	background-color: white;
	display: inline-block;
	padding: 10px;
	float: right;
}

#hero div {
	background-color: inherit;
	color: white;
	padding: 10px;
	text-align: center;
	clear: both;
}

#hero a {
	background-color: white;
	text-decoration: none;
	color: #1b9dcf;
	padding: 10px;
	display: inline-block;
}

#hero button {
	display: none;
}

#products {
	text-align: center;
	padding: 10px;
}

#products h1 {
	color: #77ba22;
}

#products a {
	text-decoration: none;
	color: #25a5ca;
	display: inline-block;
	padding: 5px;
	background-color: #eeeeee;
	margin: 2px;
	border: 1px solid #dddddd;
}

#products .percentage + a {
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
}

.percentage {
	width: 300px;
	height: 200px;
	border: 1px solid #aaaaaa;
	margin: 20px 0;
	box-shadow: 0 4px 0 -10px #dddddd;
	text-align: left;
}

.percentage > span {
	text-transform: uppercase;
	background-color: #dfdfdf;
	padding: 4px;
	font-family: Helvetica, Arial;
	font-size: 11px;
	display: inline-block;
	padding: 6px;
	font-weight: bold;

}

span.limited {
	background-color: #ff9100;
	color: white;
}

.percentage p {
	font-size: 64px;
	font-weight: bold;
	margin: 10px 0;
	padding-left: 10px;
}

.percentage p span {
	font-size: 32px;
	position: relative;
}

.percentage p span:first-child {
	bottom: 24px;
}

.percentage p span:last-child {
	right: 30px;
}

.percentage ul {
	list-style: none;
	color: #888888;
	font-family: Helvetica, Arial;
	padding-left: 10px;
	font-weight: lighter;
}






@media all and (min-width: 600px) {

	#mobile-banking {
		display: none;
	}
}

@media all and (min-width: 720px) {

	nav ul {
		display: block;
		margin: 0;
	}

	#hamburger {
		display: none;
	}

	nav img {
		float: left;
	}

	nav li {
		display: inline-block;
		line-height: 50px;
		padding: 0 10px;
	}

	nav ul:nth-of-type(1) {
		float: left;
	}

	nav ul:nth-of-type(2) {
		float: right;
	}

	nav div:after {
		content:'';
		display: block;
		clear: both;
	}

	nav a {
		color: white;
		text-decoration: none;
	}

	nav a span {
		display: none;
	}

	#hero {
		position: relative;
		background-size: auto;
		background-position: right;
	}

	#hero div {
		position: absolute;
		top: 0;
		left: 0;
		width: 300px;
	}

	#hero:after {
		content: '';
		display: block;
		clear: both;
	}

	#hero > p {
		margin-bottom: 0;
	}
}

@media all and (min-width: 970px) {

	nav a span {
		display: inline;
	}

	nav li {
		padding: 0 15px;
	}
}

@media all and (min-width: 1020px) {

	#hero button {
		display: block;
		position: absolute;
		top: 50%;
	}

	#prev {
		left: 0;
	}

	#next {
		right: 0;
	}
}

































